<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150039580803-0lv17hrf99hnreh2skgrbatgvu55f5u2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150039580803-0lv17hrf99hnreh2skgrbatgvu55f5u2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>150039580803-qaiqr3jlg52smg466mdohvdol20r06lm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYVbCWycQy793EKn2QlN4IMEY35I-d9M4</string>
	<key>GCM_SENDER_ID</key>
	<string>150039580803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.diet-helper</string>
	<key>PROJECT_ID</key>
	<string>diet-helper-a0fca</string>
	<key>STORAGE_BUCKET</key>
	<string>diet-helper-a0fca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150039580803:ios:10dba7188e1804aabf4bb6</string>
</dict>
</plist>